asgiref==3.8.1
certifi==2024.8.30
distlib==0.3.9
Django==5.1.2
djangorestframework==3.15.2
filelock==3.16.1
mysql-connector==2.2.9
mysql-connector-python==9.1.0
mysql-connector-python-rf==2.2.2
mysqlclient==2.2.5
packaging==24.1
pillow==11.0.0
pipenv==2024.3.1
platformdirs==4.3.6
PyMySQL==1.1.1
setuptools==75.3.0
sqlparse==0.5.1
virtualenv==20.27.1
