{% load static %}<!DOCTYPE html>
<html>
<head>
    <title>Book List</title>
</head>
<body>
    <h1>Book List</h1>
    <ul>
        {% for book in books %}
            <li>
                {{ book.title }} by {{ book.author.name }}
                {% if perms.your_app_name.can_edit %}
                    <a href="{% url 'edit_book' book.id %}">Edit</a>
                {% endif %}
                {% if perms.your_app_name.can_delete %}
                    <a href="{% url 'delete_book' book.id %}">Delete</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if perms.your_app_name.can_create %}
        <a href="{% url 'add_book' %}">Add a New Book</a>
    {% endif %}
</body>
</html>
